@charset "UTF-8";

h1{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    color: #8365F7;
    
}

h2{
    font-weight: bolder;
}

legend{
    font-weight: bold;
}


 fieldset{
    border-radius: 5px;
    
} 

a{
    text-align: center;
    display: block;
    margin:5px;
    text-decoration: none;
    color:rgba(82, 0, 82, 0.74);
    
}

.botoes{
    display: flex;
    justify-content: center;
    gap:0.8em;
}

@media (min-width: 500px) and (max-width: 768px) {
    h1{
        font-size: 25px;
        
    }
    h2{
        font-size:20px;
    }
    
    td{
        display: block;
    }

}



