@charset "UTF-8";

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    color: #8365F7;
}
h2{
    font-weight: bolder;
}
legend{
    font-weight: bold;
}
fieldset{
    border-radius: 5px;
}
