/* Typical Device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes Telas: acima de 1200px;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

  

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

body{
    
    font-size: 15px;
    font-style: normal;
    
   
}

#logo{
    max-width: 90px;
    border-radius: 50%;
    
      
}

#topo{
    background-color: #fafbf7;
}

/* menu */
#item{
    color: #689d89;
    font-weight: 700;
}

#title{
    
    text-align: center; 
    color: #84ab6d;
}


form{
    background-color: #84ab6d48;
    width:100%;
    display: block;
    align-content: center;
    padding:1em;
    
}
#lgd{
    font-weight: bold;
    text-align: center;
    color: #685c4f;
}

label{
    padding: 5px;
}


label,input,textarea{
   color: #685c4f;
   box-sizing: border-box;
     
}

input, textarea{
    background-color: #fafbf7;
    border:none;
}


#btn{
    margin-top: 10px;
    gap: 3px;
}

#voltar{
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

img{
    
    border-radius: 30px;
    padding: 15px;
    
}

#restaContainer, #resta{
    color: #685c4f;
}
#local{
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #685c4f;
}

#mapa{
    text-align: center;
}

@media (min-width: 992px) {
    img{
        max-width:320px;
        
    }
}

@media (min-width: 768px) and (max-width: 992px){
    img{
       
        max-width:300px;
    
    }

}

@media (min-width: 300px) and (max-width: 768px){
    img{
       
        max-width:200px;
        
    
    }

}
