/* Typical Device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes Telas: acima de 1200px;
*/
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    color: #84ab6d;
}

label{
    display: block;
    padding: 5px;
}

legend{
    font-weight: bold;
    text-align: center;
}

fieldset{
    width:50%;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
} 

h2, legend {
    color: #968572;
}

label,input{
   color: #685c4f;
}

.botoes{
    display: flex;
    justify-content: center;
    gap:0.9em;
    margin-top: 10px;
    
}

a{
    display: flex;
    justify-content: center;  
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;
    text-decoration: none;
    color: #968572;
    
}

img{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    padding: 15px;
}

@media (min-width: 992px) {
    img{
        height:20%;
        width:20%;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    img{
       
        height:30%;
        width:30%;
    
    }

}

@media (min-width: 500px) and (max-width: 768px){
    img{
       
        height:40%;
        width:40%;
    
    }

}