
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    color: #8365F7;
}

img{
    align-items: left;
    height:13%;
    width:13%;
    border-radius: 30px;
    padding: 15px;
    
}

legend{
    font-weight: bold;
    text-align: center;
}

label{
    display: block;
    padding: 5px;
}

fieldset{
    border-radius: 5px;
    margin: 5px;
    width: 500px;     
}

.botoes{
    margin: 5px;
}

a{
    display: block;
    margin:5px;
    text-decoration: none;
    color:rgba(82, 0, 82, 0.74);
}
