@charset "UTF-8";
/* cores:
   #bba58f;(marrom claro);
   #84ab6d;(verde militar);
   #97b546;(verde claro);
   #689d89(verde com tom azulado);
   #fafbf7(quase branco);
   #bbcf9f(verde pastel);
   color: #896ef5;
*/

/* Typical Device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes Telas: acima de 1200px;
*/

*{
    margin:0px;
    padding:0px;
    /* box-sizing:border-box; */
}

html{
  
    font-family: Arial, Helvetica, sans-serif;
    
    
}

p, a{
    font-size:1em;
}

body{
    font-style: normal;
    /* height: 100vh;
    width:100vw; */
}

/* header */
.header{
    margin:auto; 
    display: flex;
    justify-content:space-evenly;
    
    
}

.header img{
    width: 8vw;
    border-radius: 50%;
    display: flex;
    /* margin-right: 25%; */
      
}

/* cores */
.container-light{
    background-color: #fafbf7;
    color:#658354;
    padding-top:1px;
}

.container-hero{
    background-color: #bba58f;
    color: #fafbf7;
    padding-top:1px;
}

.container-green{
    background-color:#84ab6d; 
    color: #fafbf7;
    padding-top:1px;
}

/* titulos */
h1{
    font-size:2em;
    margin-bottom: 2em;
    margin-left: 20px;
    
}

h3{
    font-size:1.2em;
    padding-bottom: 10px;
}

.section_title{
    padding:2em 0;
    text-align: center;
    margin:0;
}


/* nav */
.menu{
    
    list-style: none;
    display: flex;
    font-weight: bold;
    font-style: normal;
    background-color: #fafbf7;
    font-size: 0.9em;
    
        
}

.menu li{  
    position: relative;
    display: flex;
    /* float:left; */
   
}

.menu li a{
    color:#689d89;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-size: 1.1em;
}

.menu li a:hover{
    background: #bba58f;
    color:#fafbf7;
    box-shadow: 0 3px 5px 0 #ccc;
    text-shadow: 0px 0px 5px#fff;
}

.menu li ul{
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: #fff;
    display: none;
    
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border: 1px solid #c7c5c5;
    display: block;
    width: 150px;
    
}

/* banner */
.container-hero__banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(transparent,#bba58f,#fafbf7);
}

.container-hero__banner img{
    width: 25vw;
  
}

/* produtos */
.container-produtos{
    text-align: center;
    width:100%;
}

.produtosContainer img{
    width: 8vw;
}
.produtosContainer{
    display: flex;
    /* text-align: center; */
    gap:1.1em;
       
}

.produto_card{
    border:1px solid #bba58f;
    flex:1;
    border-radius:8px;
    
    
}
.produto_card_content{
    line-height: 1.5;
    padding:1em;
    
 
}

.produto_card img{
    display:inline-block;
    width:50%;
   
}

/* botao nossa loja */
.nossaloja{
    color:#658354;
    text-decoration: none;
    margin:3.5em 0;
    padding:1rem 2rem;
    display: inline-block;
    background-color: #bba58f;
    width:5vw;
    border-radius: 5px;
    font-weight: bold;
          
}

/* quem somos */
.sobrenos{
    font-size:2em;
    text-align:center;
    margin-top:1em;
    /* se der problema retirar alinhamento acima */
}

.sobrenos p{
    line-height: 1.7;
}

.container-somos{
    display: flex;
    gap:5rem;
}

/* contatos */

.contatos_address{
    text-align:right;
    font: 1.8rem;
    padding:1rem;
    
}

.footer{
    font-size:0.9em;
    text-align:center;
    padding:0.8em;

}


@media (min-width: 768px) {
    
}   

@media (min-width: 500px) and (max-width: 768px){
    .header img{
        width:15vw;
    }

    h1{
        font-size: 1.3em;
    }


    .menu{
        font-size: 0.8em;
    }

    .container-hero__banner img{
        width: 38vw;
      
    }

    .section_title{
        font-size: 1.1em;
    }
    
    h3{
        font-size:1em;
    }
    .produto_card{
        font-size:0.9em;
    }

    .produto_card img{
        width:100%;
    }

    .nossaloja{
        color:#658354;
        text-decoration: none;
        margin:1.5em 3rem;
        padding:0.7rem 1.5rem; 
        width:5vw;
        font-size:0.8em;
        text-align:left;
              
    }

    .container-green img{
        width:45vw;
    }
    
    .container-somos{
        gap:2rem;
    }
    .sobrenos{
        font-size:1.3em;
        gap:2rem;
       
    }

    .sobrenosp{
        font-size: 0.9em;
        
    }

    .contatos_address{
        text-align:right;
        font-size: 0.9em;
        padding:0.5rem;
        
    }
    
    .footer{
        font-size:0.7em;
        text-align:center;
        padding:0.5em;
    
    }

}