@charset "UTF-8";
/* cores:
   #bba58f;(marrom claro);
   #84ab6d;(verde militar);
   #97b546;(verde claro);
   #689d89(verde com tom azulado);
   #fafbf7(quase branco);
   #bbcf9f(verde pastel);
   color: #896ef5;
*/

/* Typical Device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes Telas: acima de 1200px;
*/
 


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    

}

html{
    font-family: 'Poppins', sans-serif;
    
    
    
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #fafbf7;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background: #689d89;
    border-radius: 30px;
}

body{
    font-style: normal;
    font-family: 'Popins',sans-serif;
}

h1{
    font-size:2em;
    margin-bottom: 2em;
    margin-left: 20px;
    font-weight: bolder;
    font-style:italic;
    color: #fafbf7;
    
}

/* header */
#logo{
    max-width: 90px;
    border-radius: 50%;
    
      
}

#topo{
    background-color: #fafbf7;
}

/* menu */
#item{
    color: #689d89;
    font-weight: 700;
}

/* banner */
.container-hero{
    background-color: #bba58f;
    color: #fafbf7;
    padding-top:1px;
}
.container-hero__banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(transparent,#bba58f,#fafbf7);
    box-shadow: #8a7b69 0px 10px 30px 0px;
}

.container-hero__banner img{
    width: 25vw;
  
}

.container-green{
    background-color:#84ab6d; 
    color: #fafbf7;
    padding-top:1px;
}

.section_title{
    background-color: white;
    text-align: center;
    padding:1em 0;
    color:#658354;
    font-weight: 800;

}

/* cards */
.card-body{
    color: #59744a;
}

.card-title{
    font-weight: 900;
}
#btn{
    text-align: center;
}
.sobrenos{
    font-size:2em;
    text-align:center;
    margin-top:1em;
    /* se der problema retirar alinhamento acima */
}

/* quemsomos */
.sobrenos p{
    line-height: 1.7;
    
}

.container-somos{
    display: flex;
    gap:5rem;
}

.contatos_address{
    text-align:right;
    padding:1rem;
    color:#658354;
    
}

.footer{
    text-align:center;
    padding:0.8em;
    

}
footer a{
    text-decoration: none;
}
footer span{
    color: #fafbf7;
    text-decoration: none;
    
}

@media screen and (min-width:768px) and (max-width:992px) {
    .nossaloja {
        color:#658354;
        text-decoration: none;
        margin:1.5rem 3rem;
        padding:0.7rem 1.5rem; 
        width:6vw;
        font-size:0.9em;
        text-align:left;
       
              
    }

    .header_content{
        font-size: 0.7em;
    }
    #logo{
        width:12vw;
    } 

    
    .container-hero__banner img{
        width: 20vw;
      
    } 
    .footer{
        font-size:0.7em;
    
    }

    
    
}

@media screen and (min-width:300px) and (max-width:767px){
    
    .header_content{
        font-size: 0.7em;
    }
    .container-hero__banner img{
        /* width: 100%; */
        width: 40vw;
      
    }

    .nossaloja{
        color:#658354;
        text-decoration: none;
        margin:1.5em 3rem;
        padding:0.7rem 1.5rem; 
        width:6vw;
        font-size:0.7em;
        text-align:left;
              
    }

    .container-green img{
        width:45vw;
    }
    
    .container-somos{
        gap:2rem;
    }
    .sobrenos{
        font-size:1.3em;
        gap:2rem;
       
    }

    .sobrenosp{
        font-size: 0.9em;
        
    }
    .footer{
        font-size:0.7em;
    
    }
    
}





