@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');



*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 15px;
    font-style: normal;
}


/* header */
#logo{
    max-width: 90px;
    border-radius: 50%;
    
      
}

#topo{
    background-color: #fafbf7;
}

/* menu */
#item{
    color: #689d89;
    font-weight: 700;
}

main h3, h4{
    color: #8a7b69;
    display: flex;
    justify-content: center;
    margin:15px;
}


footer{
    text-align: center;
    font-size: 0.9em;
    padding:5px;
    
}

footer span{
    color: #968572;
    
}

a{
    text-decoration: none;
}

