@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
}

header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-size: 20px;  
    color: #896ef5;
    position: relative;
    padding: 10px;
    
}

main{
    
    padding: 20px;

}

img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.menu{
    list-style: none;
    font-weight: bold;
    font-style: normal; 
    border: 1px solid #c7c5c5;
   
}
.menu li{
    border-right: 1px solid #c7c5c5;
    display:inline-block;
    position: relative;
    
}
.menu li a{
    color: rgb(163, 111, 179);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover{
    background: #8a6694;
    color: #fff;
    box-shadow: 0 3px 5px 0 #ccc;
    text-shadow: 0px 0px 5px#fff;
}

.menu li ul{
    top: 25px;
    left: 0px;
    background-color: #fff;
    display: none;
    position: absolute;
    
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border: 1px solid #c7c5c5;
    display: block;
    width: 150px;
    
}

footer{
    text-align: center;
    font-size: 0.9em;
    padding:5px;
}

footer span{
    color:rgba(82, 0, 82, 0.74);
}