@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

body{
    
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 15px;
    font-style: normal;
    
   
}

#title{
    color: #84ab6d;
    padding: 10px;        
}

form{
    background-color: #84ab6d48;
    width:100%;
    display: block;
    align-content: center;
    padding:1em;
    
}
#dados{
    font-weight: bold;
    text-align: center;
    color:#685c4f;
}

label{
    display: block;
    padding: 5px;
}

fieldset{
    width: 20%;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
    border:none;
    
    
} 

h2, legend {
    color: #968572;
}

label,input,textarea{
   color: #685c4f;
   box-sizing: border-box;
     
}

input, textarea{
    background-color: #fafbf7;
    border:none;
}


#btn{
    margin-top: 10px;
    gap: 3px;
}

#voltar{
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

/* .botoes{
    display: flex;
    justify-content: center;
    gap:0.9em;
    margin-top: 10px;
   
        
}



a{
    display: flex;
    justify-content: center;  
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #968572;
    
} */

